.body{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    background: #ffffff;
}
.photo-wrapper{
    position: relative;
    width: 100%;          
    height: 290px;
}
.photo-bg{
    position: absolute;
    inset: 0;
    background-image: url(96.jpg); 
    background-size: cover;
    background-position: center;
    z-index: 0;
}
.photo{
    position: absolute;
    left: 80px;
    bottom: -70px;
    z-index: 1;
}
.photo img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border:1px solid rgb(255, 255, 255);
    box-sizing:  border-box;
}
.name{
    position:absolute;
    bottom: -110px;
    left: 70px;
    width: 220px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}
.content {
    display: flex;
    gap: 70px;
    margin-top: 120px; 
    margin-left: 40px;
    margin-right: 50px;
}
.info{
    flex: 1;
    max-width: 380px;
    padding: 20px;
    line-height: 1.6;
}
.info h1{
    white-space: normal;
    margin-top: 10px;
    font-size: 13px;
    line-height: 1.6;
    padding: 0px;
    text-align: center;
}
.info h2{
    white-space: normal;
    margin-top: 10px;
    font-size: 13px;
    padding: 0px;
    text-align: center;
}
.info h3{
    white-space: normal;
    margin-top: 10px;
    font-size: 13px;
    padding: 0px;
    text-align: center;
}
.works{
    flex:2;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    justify-content: flex-start;
}
.work-item{
    flex-shrink: 0;
    flex-basis:33.3333%;
    padding: 15px;
    box-sizing:border-box;
    line-height: 0;
}
.work-item img{
    width:  100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
}