body{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    background: #ffffff;
}
.container{
    max-width: 400px;
    margin: 80px auto;
    padding: 20px;
    text-align: center;
}
.photo img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.name{
    margin-top: 15px;
    font-size: 28px;
    font-weight:bold;
}
h1{
    margin: top 20px;
    font-size: 16px;
    line-height: 1.6;
    padding: 20px;
}
.works{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.work-item{
    flex-shrink: 0;
    flex-basis:33.3333%;
    padding: 1px;
    box-sizing:border-box;
    line-height: 0;
}
.work-item img{
    width:  100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
}